*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

/**NAV**/
#nav {
  width: 80%;
  margin: auto;
  padding: 30px 0;
  display: flex;
  align-items: center;
  position: relative;
}
.nav__svg {
  position: absolute;
  z-index: -20;
  right: -100%;
  top: -1600%;
}

.nav__left,
.nav__right,
.nav__profile,
.nav__infos {
  display: flex;
  align-items: center;
}
.nav__left {
  flex: 2;
  display: flex;
}

.nav__title {
  flex: 1;
  position: relative;
  margin-left: 30px;
}
.nav__title::after {
  content: "";
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background: orange;
  border-radius: 50%;
}

.nav__title::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background: rgb(0, 0, 0);
  border-radius: 50%;
}

.nav__links {
  display: flex;
  align-items: center;
  flex: 4;
}

.nav__link {
  margin: 0 20px;
  color: gray;
}

.nav__right {
  flex: 1;
  color: white;
}

.nav__right > a {
  margin-right: 20px;
}
.nav__infos {
  margin-left: 30px;
}
.nav__infos--link {
  margin-right: 20px;
}
.nav__profile--img {
  border-radius: 50%;
  object-fit: cover;
  margin-right: 5px;
}

.nav__dropdown {
  cursor: pointer;
}

/**MAIN**/

#main {
  display: flex;
  align-items: center;
  width: 80%;
  margin: auto;
  margin-top: 10px;
}
.left,
.right {
  flex: 1;
}

/**MAIN LEFT**/

.left__wrapper {
  height: 80%;
  display: flex;
  flex-direction: column;
}

.left__title {
  font-size: 3rem;
  margin-bottom: 30px;
}

.left__desc {
  font-size: 1.2rem;
  color: gray;
  margin-bottom: 30px;
  line-height: 1.5;
}

#left__form {
  width: 95%;
  margin: auto;
  display: flex;
  align-items: center;
  position: relative;
}

.left__form--input {
  padding: 25px 20px;
  width: 70%;
  border: none;
  background: rgb(236, 236, 236);
  outline: none;
  border-radius: 100px;
}

.left__form--btn {
  padding: 25px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(0, 0, 0);
  border: none;
  border-radius: 100px;
  color: white;
  width: 30%;
  position: absolute;
  right: 100px;
  cursor: pointer;
}
.left__form--btn span {
  margin-right: 10px;
}

.left__form--btn .fas {
  line-height: 0;
}

/**MAIN RIGHT**/
.right {
  height: 100%;
  width: 100%;
}

.phone {
  width: 60%;
  height: 450px;
  margin: auto;
  background: white;
  border-radius: 50px;
  position: relative;
  padding: 100px 40px;
}

.yellow__background {
  width: 150%;
  height: 100%;
  background: #fed600;
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.phone__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.phone__top span {
  font-size: 1.3rem;
}

.phone__top span:nth-of-type(2) {
  font-size: 1.8rem;
}

.phone__mid {
  margin-bottom: 10px;
}

.phone__mid h2 {
  font-size: 2.6rem;
  font-weight: lighter;
}

.phone__bottom__container {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.185);
  display: flex;
  flex-direction: column;
}

.phone__bottom__container__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.yellow {
  width: 30px;
  height: 30px;
  background: #fed600;
  border-radius: 50%;
  box-shadow: 0 0 4px #fed600;
}

.check {
  width: 30px;
  height: 30px;
  background: blue;
  box-shadow: 0 0 4px blue;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.phone__bottom__container__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.phone__bottom__container__bottom span {
  font-size: 0.9rem;
  font-weight: lighter;
}

.cards {
  width: 100%;
  display: flex;
  align-items: center;
}

.card {
  width: 150px;
  height: 150px;
  margin-right: 10px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.card__header img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.card__body {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.card__body span:nth-of-type(2) {
  font-size: 0.8rem;
  margin-top: 3px;
}

.card__footer span {
  font-size: 0.8rem;
}

.card--blue {
  background: #0143ff;
}

.card--orange {
  background: #ff7800;
}

.card--black {
  background: #000;
}

#footer {
  width: 80%;
  margin: auto;
}

#footer,
.stats,
.stat {
  display: flex;
  align-items: center;
}

.stat:not(:first-child) {
  margin-left: 30px;
}

.stat__circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  background: rgb(216, 216, 216);
  position: relative;
}

.stat__circle--outline {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.stat__text__container {
  display: flex;
  flex-direction: column;
}

.stat__text__container p:nth-of-type(2) {
  margin-top: 7px;
  font-size: 0.6rem;
  color: gray;
  letter-spacing: 2px;
}
